<% layout("layouts/boilerplate") %>

    <div class="row">
    <div class="col-6 offset-3">
    <div class="card">
        <img src="<%= campground.image %>" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><%= campground.title %></h5>
          <p class="card-text"><%= campground.description %></p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Location: <%= campground.location %></li>
            <li class="list-group-item">Price: &#163;<%= campground.price %></li>
        </ul>
        <div class="card-body">
            <form class="d-inline" action="/campgrounds/<%= campground._id %>?__method=DELETE" method="post">
                <button class="btn btn-danger">Delete Campground</button>
            </form>
          <a href="/campgrounds/<%= campground._id%>/edit" class="card-link btn btn-info">Edit</a>

        </div>
      </div>
    </div>
    </div>