<% layout("layouts/boilerplate") %>

    <div class="row">
    <div class="col-6 offset-3">
    <div class="card">
        <img src="<%= campground.image %>" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><%= campground.title %></h5>
          <p class="card-text"><%= campground.description %></p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Location: <%= campground.location %></li>
            <li class="list-group-item">Price: &#163;<%= campground.price %></li>
        </ul>
        <div class="card-body">
            <form class="d-inline" action="/campgrounds/<%= campground._id %>?__method=DELETE" method="post">
                <button class="btn btn-danger">Delete Campground</button>
            </form>
          <a href="/campgrounds/<%= campground._id%>/edit" class="card-link btn btn-info">Edit</a>
        </div>
      </div>
      <form class="mb-3 needs-validation" action="/campgrounds/<%= campground._id %>/reviews" method="post" novalidate>
        <div class="mb-3 mt-3">
          <label for="rating">Rating</label>
          <input type="range" min="1" max="5" name="review[rating]" id="rating">
        </div>
        <div class="mb-3">
            <label for="body" class="form-label">Review</label>
            <textarea class="form-control" name="review[body]" id="body" rows="3" required></textarea>
            <div class="valid-feedback">
              Looks good!
          </div>
        </div>
        <button class="btn btn-success">Submit</button>
      </form>  
    </div>
    </div>